# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Downloaded files & temporary storage
data/
downloads/
dist/
bin/
temp/
*.mp4
*.m4a
*.webm
*.mp3
*.mkv
*.part
*.ytdl

# Environment & local settings
.env.local

# Cookies
cookies/
cookies*.txt

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
